footer{

    background-color: rgb(43, 29, 2);
    align-items: center;
    color: rgb(145, 126, 102);
}
.footer .content {
    display: flex;
    gap: 8%;
    justify-content: center;
    padding-bottom: 10px;
}
 .about img{
    width: 50%;
}
.about p{
    font-size: 17px;
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 4%;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
.icons i{
    padding: 7px;
}
.icons i:hover{
    color: rgb(245, 239, 231);
    background-color: rgba(179, 162, 131, 0.58);
    border-radius: 50%;
}
.contact {
    display: grid;
    gap: 1px;
}
.contact h5{
    font-weight: 600;
    font-size: 20px;
}

.contact ul li {
    list-style: none;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.contact ul li  {
    padding: 5px;
}
.footer .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    display: grid;
    gap: 1px;
}
.links h5{
    font-weight: 600;
    font-size: 20px;
   margin-bottom: 12px;
}
.links ul li{
    list-style: none;
    padding-bottom: 2px;
    text-transform: capitalize;
}
.links ul li a {
    color: rgb(145, 126, 102);
    text-decoration: none;
}
.links ul li a:hover{
    color: rgb(160, 143, 122);
}
.news-letter h5{
    font-weight: 600;
    font-size: 20px;
   margin-bottom: 12px;
}
.news-letter input{
    padding: 5.4px;
    border-radius: 6px 0 0 6px;
    border: none;
}
.news-letter input:focus{
    outline: none;
    background-color: beige;
}
.news-letter i{
    background-color: rgb(224, 145, 8);
    padding: 4px ;
    border-radius: 0 5px 5px 0;
    color: aliceblue;
    padding-bottom: 6.4px;
    padding-right: 8px;
    text-align: center;
    cursor: pointer;
}
.news-letter i:hover{
    color: rgb(78, 69, 43);
    background-color: rgb(156, 128, 68);
}
hr{
background-color: rgb(94, 70, 25);
   border: 4px;
   height: 2px;
}
.footer .right p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}


@media screen and (max-width:768px) {
    .footer .content{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        padding-left: 9%;
        padding-bottom: 11%;   
        grid-gap: 10%;   
    }
    .about img{
        width: 66%;
    }
    .about p{
        font-size: 15px;
        
    }
   
    .news-letter input{
        width: 40%;
    }
}

@media screen and (max-width:1300px) {
    .news-letter input{
        width: 70%;
    }
}