header{
    background-color: #df8804; /* Vert légèrement plus clair */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombre pour séparer du fond */
  
    height: 17vh;
    top: 0;
    position: sticky;
    z-index: 9999;
    padding: 16px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    margin-left: -8%;
}
.header .logo img{
    width: 80%;
    height: 15vh;
    padding-bottom: 14px;
    padding-left: -10px;
}

.header .menu ul {  
    display: flex;
    justify-content: space-between;

}
.header .menu ul li {
    list-style: none;
    padding: 10px;
}
.menu ul li:hover{
    background-color: #423012;
    
    border-radius: 4px;
}
.header .menu ul li  a{
    text-decoration: none;
    font-size: 18px;
    color: #423012; 
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}
.menu ul li a:hover {
    color: #d5c095;
}
.menu .active a {
    background-color: #423012 !important;
    color: #d5c095 !important ;
    border-radius: 4px;
    padding: 10px;
    transition: 0.5;
    
}

.header .toggle{
    display: none;
}
.authentication {
    display: flex;
    justify-content: center;
    margin: auto 9px;
   
}
.authentication .registerbtn{
    background-color: #423012;
    color: #d5c095;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 2px;
    border: 1px solid #423012;


}
.authentication .registerbtn:hover{
    background-color: #df8804;
    color: #423012;
    border: 1px solid #423012;
}
.authentication .loginbtn{
    
    background-color: #df8804;
    color: #423012;
    border: 1px solid #423012;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 2px;
    padding: 4px 12px;
}
.authentication .loginbtn:hover{
    color: #765823;



}
@media screen and (max-width:768px ) {
   header{
    height: 19vh;
   }
    .header .toggle{
        display: block;
        margin-top: 10px;
       
    }
    .header .logo img{
        width:200px;
        margin-top: 12px;
      
    }
    .header .menu .flex{
        display: none;
    }
    .header .small{
        position: absolute;
        top: 16vh;
        left: 0;
        width: 100%;
        background-color: #dd7017;
        padding: 20px; 
        transition: 1s;  
    }
    .authentication .loginbtn{
        background-color: #dd7017;

    }
    .authentication .registerbtn:hover{
        background-color: #dd7017;

    }
      header ul li a  {
        display: block;
        margin-bottom: 20px;
        color:#1b263b;
        align-items: center;
        text-align: center;
    }
    .header .menu ul{
        display: inline;
        
    }
 
    
}

@media screen and (max-width:400px) {
    .header .logo img{
        width:160px;
        margin-left: -13px;
      
    }
    .authentication .loginbtn,.registerbtn{
        padding: 4px 12px;
        font-size: 9px;
        font-weight: 200;
    }
    .authentication .registerbtn{
        padding: 4px 12px;
        font-size: 9px;
        font-weight: 200;
    }
}
@media (max-width: 230px) {
    body {
        overflow-x: auto; /* Permet le défilement horizontal */
    }
}   